@page
@model Tortillapp_web.Pages.Admin.ActualUsers
@{
    ViewData["Title"] = "Usuarios registrados";
}

<div class="bg-white">
    <div class="container">
        <h1 class="text-center">Usuarios</h1>
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(u => u.User.UserName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(u => u.User.UserName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(u => u.User.UserMail)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(u => u.User.UserMail)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(u => u.User.ShowName)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(u => u.User.ShowName)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(u => u.User.RoleId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(u => u.User.RoleId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(u => u.User.UserCreated)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(u => u.User.UserCreated)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-page="./Index">Back To List</a>
        </div>
    </div>
</div>
