@using Microsoft.AspNetCore.Http;
@{
    int isLogged;
    string actualUser = "";
}
@if (Context.Session.GetString("Usuario") != null) 
{ 
    isLogged = 1; 
    actualUser = Context.Session.GetString("Usuario").ToString();
}
else { isLogged = 0; }

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tortillapp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Tortillapp_web.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/md-date-time-picker@2.3.0/dist/css/mdDateTimePicker.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-clock-timepicker@2.5.0/jquery-clock-timepicker.min.js"></script>
</head>
<body class="bg-light">
    <header class="header_sitio" role="banner">
        <div class="container clearfix">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent justify-content-between">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                        <span class="mb-0 h1"><img src="/pics/Tortilla-logo.png" width="160" alt="Tortillapp - Inicio" /></span><!--Agregar imagen-->
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDropdown" aria-controls="navbarDropdown" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="bi bi-list icon-main"></i>
                    </button>
 
                    @if (isLogged == 0)
                    {
                        <div class="collapse navbar-collapse justify-content-end" id="navbarDropdown">
                            <ul class="navbar-nav"> <!--aria-labelledby="dropdownMenu">-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" asp-page="Index" id="navbarDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Usuario</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLink"2>
                                        <li><a class="dropdown-item" asp-page="/Login">Inicia sesión</a></li>
                                        <li><a class="dropdown-item" asp-page="/Privacy">Acerca de</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                    else if (actualUser.Equals("admin")) 
                    {
                        <div class="collapse navbar-collapse justify-content-end" id="navbarDropdown">
                            <!--<a class="btn dropdown-toggle" href="/MyProfile" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Mi perfil</a>-->
                            <ul class="navbar-nav">
                                <!--aria-labelledby="dropdownMenu">-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" asp-page="/Index" id="navbarDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">@actualUser</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLink">
                                        <li><a class="dropdown-item" asp-page="MyProfile">Mi perfil</a></li>
                                        <li><a class="dropdown-item" asp-page="/Admin/ViewUsers">Usuarios registrados</a></li>
                                        <li><a class="dropdown-item" asp-page="#">Recetas registradas</a></li>
                                        <li><a class="dropdown-item" asp-page="#">Comentarios</a></li>
                                        <li><a class="dropdown-item" asp-page="/Privacy">Acerca de</a></li>
                                        <li><a class="dropdown-item" asp-page="Index" asp-page-handler="Logout">Cerrar sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                    else {
                        <div class="collapse navbar-collapse justify-content-end" id="navbarDropdown">
                        <!--<a class="btn dropdown-toggle" href="/MyProfile" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">Mi perfil</a>-->
                            <ul class="navbar-nav"> <!--aria-labelledby="dropdownMenu">-->
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" asp-page="/Index" id="navbarDropdownLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">@actualUser</a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownLink">
                                        <li><a class="dropdown-item" asp-page="/MyProfile" asp-page-handler="@actualUser">Mi perfil</a></li>
                                        <li><a class="dropdown-item" asp-page="/Recipe/Favorites">Recetas favoritas</a></li>
                                        <li><a class="dropdown-item" asp-page="/Recipe/Index">Crear receta</a></li>
                                        <li><a class="dropdown-item" asp-page="/Privacy">Acerca de</a></li>
                                        <li><a class="dropdown-item" asp-page="/Index" asp-page-handler="Logout">Cerrar sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    }
                    <!--<form class="from-inline">-->
                        <!--<button class="btn" type="button">-->
                        <!--<a class="nav-link text-dark" asp-area="" asp-page="/MyProfile">MyProfile</a>//Agregar imagen/ Botón circular-->
                        <!--</button>-->
                    <!--</form>-->
                    
                </div>
            </nav>
        </div>
    </header>
    <div class="container-fluid no-gutters">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Tortillapp - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>