@page
@model Tortillapp_web.Pages.Receta.IndexModel

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <div class="row mt-3">
        <div class="row text-center align-items-center justify-content-center">
            <div class="col-md-10">
                <div class="container" id="ButtonSection">
                    <div class="row">
                        <div class="col-md mb-3">
                            <h1 class="text-start">Crear receta</h1>
                            <a asp-page="Create">
                                <button type="submit" class="btn btn_base w-50 h-75 rounded-pill"><i class="bi bi-plus"></i></br>Nueva Receta</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="grid_recipe block-minmax">
            
            @foreach (var item in Model.RecipeInfo)
            {
            <div class="container block_v">
                <div class="row">
                    @Html.DisplayFor(modelItem => item.User.UserId)
                    <div class="col-3">
                    <img />
                    @Html.DisplayFor(modelItem => item.RecipePic)
                    </div>
                    <div class="col-9">
                        <div class="row">
                        @Html.DisplayFor(modelItem => item.RecipeTitle)
                        </div>
                        <div class="row">
                            #rating
                        </div>
                        <div class="row">
                            <div class="col">
                            <a asp-page="./Edit" asp-route-id="@item.RecipeId"><i class="bi bi-pencil-fill "></i></a>
                            </div>
                            <div class="col">
                            <a asp-page="./Details" asp-route-id="@item.RecipeId"><i class="bi bi-eye-fill"></i></a>
                            </div>
                            <div class="col">
                            <a asp-page="./Delete" asp-route-id="@item.RecipeId"><i class="bi bi-trash-fill"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row">
                    <div class="col">
                    @Html.DisplayFor(modelItem => item.RecipeStatus)
                    
                    </div>
                </div>
            </div>
            }
            
        </div>
    </div>
</div>
